.Actions{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 60%;
}
.Actions__Action{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--gap-size) 0;
    margin: 0 var(--gap-size);
}
/* .Actions__Action:not(:first-child){
    border-top: var(--border-width) solid black;
} */
.Action__Text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.Action__Title{
    text-transform: uppercase;
}


@media all and (max-width: 1000px) {

    .Actions{
        width: 100%;
        height: auto;
       max-height: 100%;
     }
        
    .Actions__Action{
        display: flex;
        flex-direction: column;
    }

}