.Button{
    position: relative;
    border: solid black var(--border-width);
}
.Button a{
    display: block;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    font-family: "Open_Sans_b", sans-serif;
}
.Button::after{
    content: '';
    display: block;
    position: absolute;
    top: 0; left :0;
    height: 100%;
    width: 0;
    background: var(--color-accent);
;
    transition: var(--transition-fast);
    z-index: 1;
}
.Button:hover a{
    position: relative;
    z-index: 100;
}
.Button a:hover {
    opacity: 1 !important;
}
.Button:hover::after{
    width: 100%;
}

