.Button{
    position: relative;
    border: solid black var(--border-width);
    background-color: white;
    width: fit-content;
}
.Button a{
    display: block;
    padding: 1rem;
    line-height: 1.1;
    font-size: 1rem;
    text-align: center;
    font-weight: 900;
    position: relative;
    z-index: 100;
    display: flex;
    text-align: left;
    flex-direction: row;
    align-items: center;
}
.Button::after{
    content: '';
    display: block;
    position: absolute;
    top: 0; right :0;
    height: 100%;
    background: var(--color-accent-alt);
    width: 100%;
    transition: var(--transition-fast);
    z-index: 1;
}
.Button a:hover { opacity: 1 !important; }
.Button:hover::after{ width: 0; }

.Button svg{
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: var(--transition-fast);
    transform: translateX(0rem);
}
.Button:hover svg{
    transform: translateX(0.5rem);
}

/* Inverted */

.Button--Inverted:hover::after{
    width: 100%;
}

.Button--Inverted::after{
    width: 0;
}