.Collectif{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
}

.Collectif::after{
    content: '';
    display: block;
    position: absolute;
    background-color: var(--color-accent);
    height: 0%;
    width: 100%;
    top: 0;
    left: 0;
    transition: var(--transition-fast);
}
.Collectif--Loading::after{
    height: 100%;
}

.Collectif__Members{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}


.Member{
    width: 20%;
    height: auto;
    padding: var(--gap-size);
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
}
.Member .Member__Link{
    position: absolute;
    width: 0%;
    height: 100%;
    z-index: 1000;
    line-height: 1;
    transition: var(--transition-fast);
    background-color: var(--color-accent-alt);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: Open_Sans_sb;
    overflow: hidden;
}
.Member .Member__Logo{
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    filter: grayscale(1);
    overflow: hidden;
}
.Member .Member__Initials{
    background-color: #ffffffab;
    width: 100%;
    text-transform: uppercase;
    font-family: Open_Sans_xb, sans-serif;
    text-align: center;
    padding: 1rem ;
    border-radius: 10px;
    display: block;
}


/* Member Hover */

.Member:hover .Member__Link{
    width: 100%;
    padding: 1.5rem;
    border: solid black var(--border-width);
}

@media all and (max-width: 1000px) { 

    .Member{
        width: 25%;
    }
} 
