.Fabers{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 60%;
}
.Fabers__Header{
    padding: var(--gap-size) 0;
    margin: 0 var(--gap-size);
}

.Header__Intro{
    margin-top: 1rem;
}
.Header__List{
    padding: 0;
    margin: 0;
    list-style: none;
}
.Header__List li{
    margin-left: 1.5rem;
    position: relative;
}
.Header__List li:before{
    content: '';
    position: absolute;
    display: block;
    left: -1.5rem;
    top: 0.8rem;
    border-bottom: solid 1px black;
    width: 1rem;

}


.Fabers__Profiles{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 var(--gap-size);
}
.Profile{
    width: calc(50% - 1rem);
}
.Profile__Button{
    margin: 3rem auto;
    width: 50%;
}
.Fabers__CTA{
    position: absolute;
    font-size: 1.2em;
    text-transform: uppercase;
    bottom: 0;
    left: 0;
    right: 0;
    border-width: 0;
    padding: 1rem;
    border-top: solid black var(--border-width) ;
}
.Fabers__CTA a{
    font-size: 1.1em;

}


@media all and (max-width: 1000px) {

    .Fabers{
        width: 100%;

     }
        
    .Fabers__Profile{
        display: flex;
    }

}