.Hero{
    justify-content: flex-end !important;
}
.Hero > *{
    position: relative;
    z-index: 1;
}

.Hero__Backgrounds::before{
    background-color: rgba(255,255,255,0.4);
    content:"";
    position: absolute;
    display: block;
    bottom: 0; top: 0; left: 0; right: 0;
    z-index: 1;
}
.Hero__Backgrounds{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    right: 0;
    z-index: 0;
    width: 100%;
    overflow: hidden;
}
.Hero__Background{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    object-fit: cover;
    object-position: center;
    height: 100%;
    transition: var(--transition-fast);
}
.Hero:hover .Hero__Background{
    transform: scale(1.1);
}


.Hero__Title{
    font-size: 2.3rem;
    line-height: 1.1;
    font-weight: 900;
    text-transform: uppercase;
    padding: var(--gap-size);
    margin: 0;

}
.Hero__Subtitle{
    font-size: 1.5rem;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    padding: var(--gap-size);
    margin: 0;

}

.Hero__Milestones{
    border-top: black solid var(--border-width);
    list-style: none;
    padding: var(--gap-size);
    margin: 0;
    width: 100%;
    transition: var(--transition-fast);
}

.Milestone:not(:first-child){
    padding-top: 2rem;
}

.Hero__Milestones--Loading{
    width: 0;
}
.Milestone{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    font-size: 1.3rem;
}
.Milestone > *{
    height: fit-content;
}
.Milestone__Number{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    font-weight: 900;
}
.Milestone__Descriptif{
    font-weight: 700;
}
