.Home{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
.Home__Action{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    margin: 0 2rem;
}
.Home__Action:not(:first-child){
    border-top: var(--border-width) solid black;
}
.Action__Illustration{
    border-radius: 500rem;
    padding: 2rem;
}
.Action__Text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


@media all and (max-width: 1000px) {

    .Home{
        width: 100%;
        height: auto;
       max-height: 100%;
     }
        
    .Home__Action{
        display: flex;
        flex-direction: column;
    }

}