.Menu{
    position: absolute;
    height: 10%;
    width: calc(100% - 2 * var(--gap-size));
    display: flex;
    padding: var(--gap-size);
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    transition: var(--transition-fast);
    z-index: 10000;
    overflow: hidden;
}
.Link{
    display: block;
    padding-left: 2rem;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.Link .Link__Title{
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Open_Sans_b", sans-serif;
    color: black;
}

.Menu__Link .Link__Description,
.Menu .Link__CTA{
    margin-top: 1.5rem;
    display: none;
}

.Menu__Link{
    position: relative;
    justify-content: flex-start;
}
.Link:first-child {
    padding-left:0;
}
.Link:first-child .Link__Title{
    font-size: 25px;
    padding-right: 5rem;
    font-family: "Open_Sans_xb", sans-serif;
}
.Link:first-child .Link__Description{
    line-height: 1.1;
    font-family: "Open_Sans_b", sans-serif;
    text-transform: uppercase;

}
 
/* Mega-menu */
.Menu:hover{
    height: 30%;
    background-color: var(--color-accent-alt);
}
.Menu:hover .Link__Description,
.Menu:hover .Link__CTA {
    display: block;
}

/* Hover on links */

.Menu__Link  .Link__Title{
    position: relative;

}
.Menu__Link  .Link__Title::before{
    position: absolute;
    top: 2.5rem;
    width: 0;
    content: "";
    display: block;
    height: var(--border-width);
    border-bottom: solid black var(--border-width);
    transition: var(--transition-fast);
}
 
.Menu__Link:not(:first-child):hover  .Link__Title::before,
.Menu__Link--active  .Link__Title::before{
    width: 100%;
}
 

 

@media all and (max-width: 1000px) { 

}