#root{
    height: 100%;
    width: 100vw;
    background-color: var(--color-accent);
    background-image: url("/images/MxC19_Background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.Layout{
    padding: var(--gap-size);
    height: 100%; 
    width: 100%; 
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% var(--gap-size) calc(90% - var(--gap-size));
    grid-template-areas: 
        "menu menu"
        ". ."
        "content content"
}
.Layout__Content, .Layout__Menu{  
    margin: 0;
    background-color: white;
    border: black solid var(--border-width);
}
.Layout__Content{
    height: 100%; 
    width: 100%; 
    display: flex;
    flex-direction: row;
    
}
.Layout__Content{  grid-area: content; }
.Layout__Menu{  grid-area: menu; }

@media all and (max-width: 1000px) { 
    #root{
        background-attachment: fixed;
        height: auto;
        overflow-x: hidden;
    }

}