#root{
    height: 100%;
    width: 100vw;
    background-image: url("/images/MxC19_Background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.Layout{
    padding: var(--gap-size);
    height: calc(100% - var(--gap-size)); 
    width: calc(100% - var(--gap-size)); 
    display: grid;
    gap: var(--gap-size);
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
        "menu menu"
        "hero content"
}
.Layout__Hero, .Layout__Content, .Layout__Menu{  
    margin: 0;
    padding: var(--gap-size);
    height: 100%; 
    width: 100%; 
    background-color: white;
    border: black solid var(--border-width);
}
.Layout__Hero{ grid-area: hero;}
.Layout__Content{  grid-area: content; }
.Layout__Menu{  grid-area: menu; }

@media all and (max-width: 1000px) { 
    #root{
        background-attachment: fixed;
        height: auto;
        overflow-x: hidden;
    }

}