#root{
    
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--color-accent);
    background-image: url("/illustrations/CC_THIBAUT_LOUVET_BACKGROUND.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.Layout{
    height: 100vh; 
    width: 100vw; 
    min-height: 100vh;
    min-width: 100vw;
}
.Layout__Content, .Layout__Menu{
    margin: var(--gap-size);
    background-color: white;
    border: black solid var(--border-width);
}
.Layout__Menu{
    top:  0;
    left:  0;
    right:  0;
    width: calc(100% - 2 * var(--gap-size) );
    height: var(--menu-height);
}

.Layout__Content{
    width: calc(100% - 2 * var(--gap-size) );
    margin-top: calc(var(--menu-height) + 2 * var(--gap-size) );
    height: calc(100% - var(--menu-height) - 3 * var(--gap-size));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
}
.Layout__Content > * {
    height: 100%;
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Layout__Content > *:not(:last-child) {
    border-right: solid black var(--border-width);
}

.Link__Ecosystem{
    position: absolute;
    height: 4rem;
    display: flex;
    width: 4rem;
    z-index: 1;
    padding: 0.5rem;
    bottom: 0;
    right: 0;
    justify-content: flex-end;
    align-items: flex-end;
    transform: translate(1.5rem, 1.5rem);
    transition: var(--transition-fast);
}
.Link__Ecosystem::after{
    content: '';
    position: absolute;
    height: 4rem;
    display: flex;
    width: 4rem;
    z-index: -1;
    bottom: 0;
    right: 0;
    border-bottom: 4rem solid white;
    border-left: 4rem solid transparent;
}
.Link__Ecosystem:hover{
    transform: translate(0, 0);
}


@media all and (max-width: 1000px) { 
    #root{
        height: auto;
        overflow-x: hidden;
    }

@media all and (max-width: 1000px) {

    .Layout{    
        height: auto;
    }
    .Layout__Content{
        flex-direction: column;
     }
     
    .Layout__Content > * {
        height: auto;
        min-height: 400px;
        width: 100%;
    }
    .Layout__Content > *:not(:last-child) {
        border-right: 0;
        border-bottom: solid black var(--border-width);
    }



}
}