/* Global variables */
:root{
    --gap-size: 1.5rem;
    --border-width: 5px;
    --color-accent: #0d04f5;
    --color-accent-alt: #fbd014;
    --menu-height: 90px;
    --transition-fast :  all 0.5s ease-in-out;
    font-size: 15px;
}
/* Responsive variables */
@media all and (max-width: 1000px) {
    :root{--gap-size: 1.2rem;}
}
@media all and (max-width: 500px) {
    :root{
        --gap-size: 1rem;
        --border-width: 4px;
        font-size: 12px;
    }
}
*, :after, :before {
    box-sizing: inherit;
}

article, aside, footer, header, nav, section {
    display: block;
}

/* Basic styles */
body,html {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background-color: #f9fbff;
    height:100%;
    min-width:320px;
    color:rgba(0,0,0,.87);
    margin:0;
    padding:0;
    overflow-x:hidden;
    box-sizing: border-box;
    line-height: 1.4;

}

/* Link styles */
a{  color: inherit !important; text-decoration:none }
a:hover{  opacity: 0.9 !important;text-decoration:none  }



/* Header styles */
h1,h2,h3,h4,h5{
    line-height:1.1;
    text-transform: uppercase;
    font-weight:700;
    padding:0

}
h1{ min-height:1rem;font-size:1.8rem}
h2{ font-size:1.5rem}
h3{ font-size:1.2rem}
h4{ font-size:1.1rem}
h5{ font-size:1rem }
h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child{ margin-top:0}
h1:last-child,h2:last-child,h3:last-child,h4:last-child,h5:last-child{ margin-bottom:0 }
p{ line-height:1.4285em}
p:first-child{ margin-top:0}
p:last-child{ margin-bottom:0}
strong{ font-weight: 700; }
ul, ol{
    padding: 0;
    margin: 0;
    list-style: none;
}


/* Selection styles */
::selection{ background-color:var(--color-accent-alt);background-blend-mode: multiply;color:black}
input::selection,textarea::selection{background-color:rgba(100,100,100,.4);color:rgba(0,0,0,.87)}

/* Scrollbar styles */
body ::-webkit-scrollbar{ -webkit-appearance:none;width:10px;height:10px}
body ::-webkit-scrollbar-track{ background:rgba(0,0,0,.1);border-radius:0}
body ::-webkit-scrollbar-thumb{ 
    cursor:pointer;border-radius:5px;background:rgba(0,0,0,.25);-webkit-transition:color .2s ease;transition:color .2s ease}
body ::-webkit-scrollbar-thumb:window-inactive{ background:rgba(0,0,0,.15)}
body ::-webkit-scrollbar-thumb:hover{ background:rgba(128,135,139,.8)}
a, button{    cursor: pointer;}

/* iPad Input Shadows */
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
}