
:root{
    --gap-size: 1.5rem;
    --border-width: 5px;
    --color-blue: #263D8C;
    --color-red: #E31D39;
    --color-green: #1AA056;
}

h1, h2, h3, h4, h5, h6{
    font-family: Open_Sans_xb, sans-serif;
}
strong{
    font-family: Open_Sans_xb, sans-serif;
}

body {
    font-family: "Open_Sans", sans-serif;
    background-color: #f9fbff;
    font-size: 15px;
}

a{  color: inherit !important;  }
a:hover{  opacity: 0.5 !important;  }