
:root{
    --gap-size: 1.5rem;
    --border-width: 5px;
    --color-blue: #263D8C;
    --color-red: #E31D39;
    --color-green: #1AA056;
    --color-accent: #0d04f5;
    --color-accent-alt: #fbd014;
    --menu-height: 90px;
    --transition-fast :  all 0.5s ease;
    font-size: 15px;
}



@media all and (max-width: 1000px) {

    :root{
        --gap-size: 1.2rem;
    }

}
@media all and (max-width: 500px) {

    :root{
        --gap-size: 1rem;
        --border-width: 4px;
        font-size: 12px;
    }

}
h1, h2, h3, h4, h5, h6{
    font-family: Open_Sans_xb, sans-serif;
    text-transform: uppercase;
}
strong{
    font-family: Open_Sans_xb, sans-serif;
}

body {
    font-family: "Open_Sans", sans-serif;
    background-color: #f9fbff;
}

a{  color: inherit !important;  }
a:hover{  opacity: 0.9 !important;  }

.Section{
    padding: var(--gap-size);
}
.Section--Emphasis{
    background-color: var(--color-accent-alt);
}
.Section__Text:not(:first-child){
    margin-top: 1rem;
}
.Section__Subtitle{
    margin-top: -1rem;
    font-family: Open_Sans_l, sans-serif;
    text-transform: unset;
}
.Section__Action{
    margin-top: 1rem;
}
.Section:not(:first-child){
    border-top : solid black var(--border-width)
}

.Section__List{
    padding: 0;
    margin: 0;
    list-style: none;
}
.Section__List li{
    margin-left: 1.5rem;
    position: relative;
}
.Section__List li:before{
    content: '';
    position: absolute;
    display: block;
    left: -1.5rem;
    top: 0.8rem;
    border-bottom: solid 1px black;
    width: 1rem;
}
.Section--Hoverable{
    position: relative;
    height: 100%;
    z-index: 0;
}
.Section--Hoverable::after{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    background-color: var(--color-accent-alt);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: var(--transition-fast);
}
.Section--Hoverable:hover::after{
    width: 100%;
}

.Section--CTA{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-accent-alt);
}
.Section--CTA > *{
    margin: 0;
}


.Simple__Link{
    display: inline-block;
    position: relative;
    font-family: 'Open_Sans_sb', sans;
    z-index: 0;
}
.Simple__Link::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: -2px;
    width: 0;
    height: calc(100% + 4px);
    background-color: var(--color-accent-alt);
    z-index: -1;
    transition: var(--transition-fast);
}
.Simple__Link:hover::before{
    width: calc(100% + 4px);
}
.Simple__Link.Simple__Link--Inverted::before{
    background-color: white;
}
.Simple__Link::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    z-index: 1;
    transition: var(--transition-fast);
}
.Simple__Link:hover::after{
    width: 0%;
}