.Ask__Informations, .Ask__Actions, .Ask__Orders, .Ask__Results, .StocksMap{
    width: 50%;
}
.AskOrders__Information{
    height: 100%;    
}
.Ask__Form{
    height: 100%;
    border: 0;
}
.OrderState--0{background-color: #dcdcdc;}
.OrderState--1{background-color: #fef6d3;}
.OrderState--2{background-color: #95af4c;}
.OrderState--3{background-color: #4caf50;}
.Section.Ask__Results{
    justify-content: flex-start;
}
.AskOrder__Order > .Section{
    width: 100%;
}

.StocksList .Section__Illustration{
    width: 100px;
    mix-blend-mode: multiply;
}
.StocksInformation{
    width: 400px;
}
@media all and (max-width: 1000px) {

    .Ask__Form{
    height: 80vh !important;
     }
        
}