.Ask__Informations{
    width: 50%;
}
.Ask__Actions{
    width: 50%;
}
    .Ask__Form{
    height: 100%;
    border: 0;
     }
.StocksMap{
    width: 50%;
}

.StocksList .Section__Illustration{
    width: 100px;
    mix-blend-mode: multiply;
}
.StocksInformation{
    width: 400px;
}
@media all and (max-width: 1000px) {

    .Ask__Form{
    height: 80vh !important;
     }
        
}