.Help__Information{
    width: 50%;
}
.Help__HelloAsso{
    width: 50%;
    border: 0;
}

.Help__Information .Section__Illustration{
    width: 25%;
}
@media all and (max-width: 500px) {
    .Help__Information .Section__Illustration{
        width: 50%;
    }
}
@media all and (max-width: 1000px) {

    .Help__HelloAsso{
        height: 80vh !important;
     }
        
}