
.Home__Hero{
    width: 40%;
}
.Home__Actions{
    width: 60%;
}

.Home__Actions .Section__Illustration{
    width: 25%;
}
@media all and (max-width: 500px) {
    .Home__Actions .Section__Illustration{
        width: 50%;
    }
}