.Menu{
    position: absolute;
    height: 10%;
    width: calc(100% - 2 * var(--gap-size));
    display: flex;
    padding: var(--gap-size);
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    transition: var(--transition-fast);
    z-index: 10000;
    overflow: hidden;
}
.Link{
    display: block;
    padding-left: 2rem;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.Link .Link__Title{
    margin: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}

.Menu__Link .Link__Description,
.Menu .Link__CTA{
    margin-top: 1.5rem;
    display: none;
}

.Menu__Link{
    position: relative;
    justify-content: flex-start;
}
.Link:first-child {
    padding-left:0;
}
.Link:first-child .Link__Title{
    font-size: 1.8rem;
    padding-right: 5rem;
    font-weight: 900;
}
.Link:first-child .Link__Description{
    line-height: 1.1;
    font-weight: 500;
    text-transform: uppercase;

}


.Menu #Link__Credit{
    display: block;
}

.Menu #Link__Credit{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1.5rem;
    width: 1.5rem;
}
.Menu #Link__Credit::after{
    content: '';
    display: block;
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 4rem;
    width: 4rem;
    border-left: solid 4rem transparent !important;
    border-bottom: solid 4rem white;
}

#Link__Credit svg{
    z-index: 1;
    position: absolute;
    bottom: 0.4rem;
    right: 0.4rem;
    height: 100%;
    width: 100%;
}
@media all and (max-width: 1000px) { 
    .Menu #Link__Credit {
        display: none;
    }    .Menu.Menu--Open #Link__Credit {
        display: block;
    }
}

 
/* Hover on links */

.Menu__Link  .Link__Title{ position: relative;}
.Menu__Link  .Link__Title::before{
    position: absolute;
    bottom: -0.5rem;
    width: 0;
    content: "";
    display: block;
    height: var(--border-width);
    border-bottom: solid black var(--border-width);
    transition: var(--transition-fast);
}
.Menu__Link:not(:first-child):hover  .Link__Title::before,
.Menu__Link--active  .Link__Title::before{width: 100%; }
 
/* Mega-menu */
@media all and (min-width: 1000px) { 
    .Menu:hover{
        height: 30%;
        background-color: var(--color-accent-alt);
    }
    .Menu:hover .Link__Description,
    .Menu:hover .Link__CTA {
        display: block;
    }
}

 /* Hide toggle on desktop */
.MobileToggle, .Link--Mobile{     display: none; }
@media all and (max-width: 1000px) { 
    .MobileToggle, .Link--Mobile{display: unset;} 
    .Link--Desktop{display: none;}
}

@media all and (max-width: 1000px) { 
    
    .Menu{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
    }

    .Link:not(:first-child){display: none; }
    .Link:first-child .Link__Title { padding-right: 0;}
    .Menu__Link{
        width: 80%;
        justify-content: center;
    }
    .Menu__Link .Link__Description, .Menu .Link__CTA{
        margin-top: 1rem !important; 
        margin-bottom: 1rem;
    }
    .Menu__Link .Link__Title {
        font-size: 1.7rem; 
        width: fit-content;
     }

/* Opened Menu */
    .Menu.Menu--Open{ 
        height: calc(90vh - 2 * var(--gap-size)); 
        background-color: var(--color-accent-alt);
    }
    .Menu.Menu--Open .Menu__Link{ 
        justify-content: unset; 
        height: fit-content;
    }
    .Menu.Menu--Open .Link:not(:first-child){
        display: block;
        padding-left: 0;
        padding-top: 1rem;
    }
    
    .Menu.Menu--Open .Link__Description,
    .Menu.Menu--Open .Link__CTA {
        display: block;
    }

.Menu.Menu--Open + .Layout__Content {
    opacity: 0;
}
.Menu + .Layout__Content {
    opacity: 1;
    transition: var(--transition-fast);
}

/* Toggle view */
    .MobileToggle{
        position: absolute;
        margin: 1rem;
        height: calc(var(--menu-height) - 2rem - 2 * var(--border-width) );
        top: 0;
        width: 3rem;
        right: 0;
    }


/* Toggle buttons */
    .MobileToggle__Toggle, 
    .MobileToggle__Toggle::before,
    .MobileToggle__Toggle::after {
        position: absolute;
        margin: auto;
        background-color: black;
        height: var(--border-width);
        content: '';
        display: block;
        transition: var(--transition-fast);
    }
    
    /* Open */
    .MobileToggle__Toggle {
        margin: auto auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    .MobileToggle__Toggle::before {
        transform: translateY(-1rem);
        right: 0rem;
        width: 60%;
    }
    .MobileToggle__Toggle::after {
        transform: translateY(1rem);
        right: 0rem;
        width: 60%;
    }

    /* Close */
    .Menu.Menu--Open .MobileToggle__Toggle {
        height: 0;
    }

    .Menu.Menu--Open .MobileToggle__Toggle::before {
        right: 0rem;
        left: 0rem;
        top: 0rem;
        bottom: 0rem;
        width: 100%;
        transform: rotate(-45deg) ;
    }
    .Menu.Menu--Open .MobileToggle__Toggle::after {
        right: 0rem;
        left: 0rem;
        top: 0rem;
        bottom: 0rem;
        width: 100%;
        transform: rotate(45deg) ;
    }

    
    .MobileToggle__Close{
        cursor: pointer;
        position: absolute;
        margin: auto auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 0;
    }
    .MobileToggle__Close::before,
    .MobileToggle__Close::after{
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        background-color: black;
        height: var(--border-width);
        transform: rotate(45deg);
    }
    .MobileToggle__Close::after {
        content: '';
        display: block;
        width: 100%;
        transform: rotate(-45deg);
    }

    
}