.Models_In_Prod{
    width: 50%;
}
.Models_In_Research{
    width: 50%;
}

@media all and (max-width: 500px) {
    .Models_In_Prod .Section.Section--Horizontal, .Models_In_Research .Section.Section--Horizontal{ flex-direction: row !important; }
    .Models_In_Prod .Section.Section--Horizontal > *:not(:first-child),.Models_In_Researchnetlify
     .Section.Section--Horizontal > *:not(:first-child){ margin-top: 0; margin-left: 1rem;
    }
}
.Models_In_Prod .Section--Horizontal > img.Section_Illustration,
.Models_In_Research .Section--Horizontal > img.Section_Illustration{
    height: auto;
    width: 150px;
    object-fit: cover; 
    margin-right: 0 !important;
}


